#trending{
    background-color: white;
    color: #590242;
    font-family: graphie;
    display: grid;
    grid-template-rows: 1fr;
}

#trending ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb{
    background: #590242;
}

#trending ::-webkit-scrollbar-thumb:hover{
    background: #020659;
}

h1 {font-size:1.25em;}
h2, h3 {font-size: 1em;}
p, dl, dd {font-size: 1em;}
footer p {font-size: .75em;}

#playlists{
    background-color: #0D8DFB;
}

#curated{
    background-color: #020659;;
}

nav a{
    text-decoration: none;
}

nav li {
    display: inline-block;
    height: 100%;
    width: 50%;
}

dl{
    display:flex;
    margin-top: -30px;
    color: #590242;
}

dt{
    font-size: 16px;
    padding-right: 5px;
}


#trending h3{

margin-top: -5px;

}


audio{
position: absolute;
bottom: 150px;
left:5px;
}



audio::-webkit-media-controls-mute-button {
    background-color: white;
    border-radius: 50px;
}
audio::-webkit-media-controls-play-button {
background-color: white;
border-radius: 50px;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255,.75);
}

header{
    display: block;
    background-color: #030A8C;
    color:white;
    padding: 40px;
    text-align: left;
    }

    main h2{

        color: #590242;
    }


    nav a{
        color: white;
    }

nav ul li{
    list-style-type:none;
    color: white;
}

nav ul{
    display: flex;
    justify-content: center;
    color: white;
}


.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    width: 100;
    background-color:white;
} 


#smooth-jazz{
color: white;
}


section ul li{list-style-type:none;
}


.scroll{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}


.scroll1{
    overflow-y: auto;
height: 900px;
color: #590242;
}

.scroll2{
    overflow-y: auto;
height: 900px;
color: #590242;
}

.scroll section{
margin: 30px;
position: relative;
}


.scroll div{
position: absolute;
top: 251px;
background-color: rgba(255, 255, 255,.75);
padding: 5px;
height: 50px;
width: 350px;
}

.scroll div li{
    bottom: 100px;
    }

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #020659;
}

#your-playlists-grid{

background-color: goldenrod;
color: white;
font-family: graphie;
}

#curated-playlists-grid{
    background-color:forestgreen;
    color: white;
    font-family: graphie;
}
